
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
header{
  background-color: #03a3df;
  padding: 20px 100px 20px;
  width:100%;
  position: fixed;
  top: 0;
}
nav{
  float:right;
}
footer{
  display: grid;
  grid-template-columns: 100px 300px auto 300px 100px;
grid-template-rows: 80px 100px auto;
  background: url('images/footer-image.jpg') center;
  height: 300px;
  color:white;

}
h1 {
  font-size: 4em;
}
nav a{
  font-size: 1.8em;
  color: white;
  text-decoration: none;
}
.main{
  padding-top:90px;
}
.team-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.headshot {
  width:75%;
}
.team-member{
width: 25%;
padding: 40px;
}
#services-section h1{
  color: white;
}
#header-logo{
  height:3em;
}
#intro-section{
    height: 500px;
    width: 100%;
}
#about-intro{
    height: 500px;
    width: 100%;
    padding: 80px 100px;
}
#services-section{
  clear:both;
  background-color: #1b447f;
  padding: 80px 100px 40px;
  color: white;
}
#team-section{
  padding: 80px 100px 40px;
  align-content: center;

}
#intro-copy {
  float: left;
  padding: 40px 100px 40px 100px;
  width: 60%;
}
#side-pic-container {
  height: 100%;
  background: url('images/side-pic.jpg') center;
  width:40%;
  float: left;
  right:0px;
}
#side-pic {
  width:100%;
}
#footer-item1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#footer-item2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
